<h1>Classrooms</h1>

<%= form_with(url: classrooms_path, method: :get, local: true) do %>
  <div class="form-group">
    <label for="filter">Filter:</label>
    <%= select_tag :filter, options_for_select([['Active', 'active'],['All', 'all']], params[:filter] || 'Active'), onchange: 'this.form.submit();' %>
  </div>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Start at</th>
            <th scope="col">End at</th>
            <th scope="col">Teacher</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <% @classrooms.each do |classroom| %>
            <tr>
                <td><%= classroom.id %></td>
                <td><%= classroom.name %></td>
                <td><%= classroom.start_at %></td>
                <td><%= classroom.end_at %></td>
                <td><%= classroom.teacher.full_name %></td>
                <td>
                    <a href="<%= edit_classroom_path classroom %>" class="btn btn-warning ml-2">Edit</a>
                    <a href="<%= classroom_path classroom %>" class="btn btn-primary mr-2">Voir</a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<a href="<%= new_classroom_path %>" class="btn btn-primary">New</a>