<h1>Lesson <%= @lesson.branch.name %></h1>
<h2>Exams</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Date</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <% @lesson.exams.each do |exam| %>
            <tr>
                <td><%= exam.name %></td>
                <td><%= exam.weight %></td>
                <td><%= exam.date %></td>
                <td>
                    <a href="<%= exam_path exam %>" class="btn btn-primary mr-2">Voir</a>
                </td>
            </tr>
        <% end %>
        <tr>
            <%= render "lessons/exam_form" %>
        </tr>
    </tbody>
</table>