<h1>Deans</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <% @deans.each do |dean| %>
            <tr>
                <td><%= dean.id %></td>
                <td><%= dean.first_name %></td>
                <td><%= dean.last_name %></td>
                <td>
                    <a href="<%= edit_dean_path dean %>" class="btn btn-warning ml-2">Edit</a>
                    <a href="<%= dean_path dean %>" class="btn btn-primary mr-2">See</a>
                    <%= link_to 'Delete', dean_path(dean.id), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure ?" }, class: "btn btn-danger" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<a href="<%= new_dean_path %>" class="btn btn-primary">New</a>
