<!DOCTYPE html>
<html>
  <head>
    <title>Gesteleves</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gesteleves</a>
          <% if current_user %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%= students_url %>">Students</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%= teachers_url %>">Teachers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%= classrooms_url %>">Classrooms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%= branches_url %>">Branches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%= semesters_url %>">Semesters</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="<%= lessons_url %>">Lessons</a>
                </li>
              </ul>
            </div>
            <div>
              <%= link_to 'Log out', logout_path, data: { "turbo-method": :delete } %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
